h1 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    color: inherit;
    text-rendering: optimizeLegibility;
}

div.top-bar {
    background-image: url("https://s3.amazonaws.com/jaydot2core/website-images/top-bar-summer-background.jpg");
    background-color: #e6e6e6;
    padding: 3.0rem;
}

div.callout-large {
    padding: 3rem;
}

.text-center {
    text-align: center;
}

.callout {
    margin: 0 0 1rem;
}

.callout.large {
    padding: 3rem;
}