<h2>Contact Us</h2>

<div class="row">
  <div class="col-md=12">
    <p>
      Contact information:  <a href="mailto:info@jaydot2.com?Subject=More%20Info">info@jaydot2.com</a>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form [formGroup]="userForm" class="form-horizontal" (ngSubmit)="onSubmit()">
      <fieldset>
      
      <!-- Form Name -->
      <legend>Contact Information</legend>
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="fullname">Full Name</label>  
        <div class="col-md-4">
        <input formControlName="fullname" id="fullname" name="fullname" placeholder="Please enter your full name" class="form-control input-md" type="text">
        </div>
      </div>
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="email">Email</label>  
        <div class="col-md-4">
        <input formControlName="email" id="email" name="email" placeholder="Please enter email" class="form-control input-md" type="email">
        </div>
      </div>
      
      <!-- Button -->
      <div class="form-group">
        <div class="col-md-4">
          <button id="submit" name="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
      
      </fieldset>
    </form>
  </div>
</div>