<hr>
<div class="row">
  <div class="col-md-6">
    <h2>Our Company, our selves</h2>
    <p>
        Jaydot2 is a technical consulting and software development organization. Our offerings include products, services and custom support options.
    </p>
    <p>
        We provide support services for our products and services online. We also offer clients of our custom software solutions support contracts. Please contact us to get more information on the support options we offer.
    </p>
  </div>
  <div class="col-md-6">
    <img class="thumbnail" src="../assets/images/jaydot2-hero.jpg" alt="hero"/>
  </div>
</div>
<div class="row">
  <div class="col-md-4 text-center">
    <h3>Mobile Application Development</h3>
    <p>
        We develop both native and web based mobile applications. Applications that we have developed have been deployed on both app markets and internally for some organizations. We focus on both web mobile and native mobile development projects.
    </p>
  </div>
  <div class="col-md-4 text-center">
    <h3>Web and Application Development</h3>
    <p>
        We provide web development services for our clients. These services include creating entirely new web applications for our clients, updating existing websites and integrating websites with external social media channels and third party services.
    </p>
  </div>
  <div class="col-md-4 text-center">
    <h3>DevOps and Cloud Computing</h3>
    <p>
        We develop cloud based solutions for our clients using various public cloud providers, such as Amazon Web Services and Rackspace. Our expertise includes the development of applications on Cloud Foundry, Salesforce.com, and Force.com platforms.
    </p>
  </div>
</div>
